.CodeMirror {
  height: 60rem;
}

.git-line {
  width: 0.0em;
}

.CodeMirror-gutter-wrapper .add::before {
  white-space: pre;
  background-color: lightgreen;
  content: ' ';
}

.CodeMirror-gutter-wrapper .mod::before {
  white-space: pre;
  background-color: lightblue;
  content: ' ';
}

.CodeMirror-gutter-wrapper .rem::before {
  display: inline-block;
  vertical-align: -50%;
  color: LightCoral;
  content: '\25b6';
}

.projectView {
  margin-top: 20px;
}

.fileListing {
  float: left;
  width: 25%;
}

.fileContent {
  float: left;
}

.btn-save {
  margin-top: -20px;
  float: right;
}

.diff .status {
  padding: 2px 6px;
  display: inline-block;
}

.diff .Modified {
  background-color: lightblue;
}

.diff .hunk {
  border-top: solid 1px black;
}

.diff .content {
  white-space: pre;
}
